blinker==1.9.0
charset-normalizer==3.4.4
click==8.1.8
Flask==3.1.2
Flask-SQLAlchemy==3.1.1
importlib_metadata==8.7.1
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
OpenTimelineIO==0.18.1
OpenTimelineIO-Plugins==0.18.1
otio-aaf-adapter==2.0.0
otio-ale-adapter==1.1.0
otio-burnins-adapter==1.0.0
otio-cmx3600-adapter==1.0.0
otio-fcp-adapter==1.0.0
otio-maya-sequencer-adapter==1.0.0
otio-svg-adapter==1.0.0
otio-xges-adapter==1.0.0
pillow==11.3.0
pyaaf2==1.7.1
reportlab==4.4.7
SQLAlchemy==2.0.45
typing_extensions==4.15.0
Werkzeug==3.1.4
zipp==3.23.0
